@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap');

.App {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  color: #878787;
}

.App-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clock-box {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.clock-box .word {
  font-size: 36px;
  text-transform: uppercase;
}

.clock-box .word.active {
  color: #ffffff;
  font-weight: 700;
}

.clock-box .dots {
  width: 200px;
  margin: 20px auto 0;
  display: flex;
  justify-content: space-around;
  padding: 0;
  list-style: none;
}

.clock-box .dot {
  width: 5px;
  height: 5px;
  background-color: #7d7c7c;
}

.clock-box .dot.active {
  background-color: #ffffff;
}

